<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Body_KR.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,1},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>Head_KR.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{95,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,90}}</string>
                <key>sourceSize</key>
                <string>{95,90}</string>
            </dict>
            <key>LeftArm_KR.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,75},{15,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,40}}</string>
                <key>sourceSize</key>
                <string>{15,40}</string>
            </dict>
            <key>LeftLeg_KR.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,1},{15,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,30}}</string>
                <key>sourceSize</key>
                <string>{15,30}</string>
            </dict>
            <key>Phone_KR.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,53},{35,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,25}}</string>
                <key>sourceSize</key>
                <string>{35,25}</string>
            </dict>
            <key>RightArm_KR.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,53},{20,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,40}}</string>
                <key>sourceSize</key>
                <string>{20,40}</string>
            </dict>
            <key>RightLeg_KR.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,1},{15,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,30}}</string>
                <key>sourceSize</key>
                <string>{15,30}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>char-kr-pack.png</string>
            <key>size</key>
            <string>{166,92}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c3545cc62849402c84f3a4b135f0353:3880493a423a5591a74c97a714ed27c1:d9771dca22b8bfe0539df2fb1c0a0828$</string>
            <key>textureFileName</key>
            <string>char-kr-pack.png</string>
        </dict>
    </dict>
</plist>
